<h1>About us</h1>
<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project to make a book to teach web development for
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.  This is the sample app
  for the tutorial.
</p>
